<?xml version="1.0" encoding="utf-8" ?>

<Config>
  <Player StartingMiners="3" StartPosition="5000,5000" />
  <World Width="50000" Height="50000" AsteroidRegionWidth="500" AsteroidRegionHeight="500" />
  
  <!-- Wave timers in seconds (most other values are in ms) -->
  <EnemyWaves StartingValue="10" IncreasePerWave="5" StartingTimer="10" WaveTimer="20" />
  
  <!-- Battle testing for debugging, if you uncomment this, these will spawn at the start of the game -->
  <TestShips>
    <!--<Ship Type="MissileFrigate" Player="true" Count="1" />
    <Ship Type="BeamFrigate" Player="true" Count="1" />
    <Ship Type="SupportCruiser" Player="true" Count="1" />
    <Ship Type="HeavyCruiser" Player="true" Count="1" />
    <Ship Type="Battleship" Player="true" Count="1" />
    <Ship Type="Carrier" Player="true" Count="1" />

    <Ship Type="MissileFrigate" Player="false" Count="1" />
    <Ship Type="BeamFrigate" Player="false" Count="1" />
    <Ship Type="SupportCruiser" Player="false" Count="1" />
    <Ship Type="HeavyCruiser" Player="false" Count="1" />
    <Ship Type="Battleship" Player="false" Count="1" />
    <Ship Type="Carrier" Player="false" Count="1" />-->
  </TestShips>
</Config>